##############################################################################
###
###  UCF file for A1 (TI4 CE)
###  ========================
###
###---------------------------------------------------------------------------
###  Code belongs to TI4 CE; Informatik ; HAW Hamburg
###  In case of questions contact: Fazel Soltani, Elias Hachicho
###---------------------------------------------------------------------------


 
 NET "clk"		LOC = "V10" | IOSTANDARD=LVCMOS33; 
 NET "nres"     LOC = "P12"  | IOSTANDARD=LVCMOS33;
 
 
## LED's
 
 NET "ledOut(0)" 	    LOC = "F13" | IOSTANDARD=LVCMOS33; # LED_0;
 NET "ledOut(1)"		LOC = "E13" | IOSTANDARD=LVCMOS33; # LED_1;
 NET "ledOut(2)"		LOC = "B12" | IOSTANDARD=LVCMOS33; # LED_2;
 NET "ledOut(3)"		LOC = "A12" | IOSTANDARD=LVCMOS33; # LED_3;
 NET "ledOut(4)"		LOC = "B11" | IOSTANDARD=LVCMOS33; # LED_4;
 NET "ledOut(5)"		LOC = "A11" | IOSTANDARD=LVCMOS33; # LED_5;
 NET "ledOut(6)"		LOC = "D11" | IOSTANDARD=LVCMOS33; # LED_6;
 NET "ledOut(7)"		LOC = "C11" | IOSTANDARD=LVCMOS33; # LED_7;
 
## Buttons
 
 NET "valueIn(0)"		LOC = "B16" | IOSTANDARD=LVCMOS33;	# Button S1
 NET "valueIn(1)"		LOC = "A16" | IOSTANDARD=LVCMOS33;	# Button S2
 NET "valueIn(2)"		LOC = "C15" | IOSTANDARD=LVCMOS33;	# Button S3
 NET "valueIn(3)"		LOC = "A15" | IOSTANDARD=LVCMOS33;	# Button S4
 NET "valLd"			LOC = "B14" | IOSTANDARD=LVCMOS33;	# Button S5
 NET "id(0)"			LOC = "A14" | IOSTANDARD=LVCMOS33;	# Button S6
 NET "id(1)"			LOC = "D14" | IOSTANDARD=LVCMOS33;	# Button S7
 NET "idLd"				LOC = "C14" | IOSTANDARD=LVCMOS33;	# Button S8
 
## Anode
 
 NET "anode(3)"		LOC = "R10" | IOSTANDARD=LVCMOS33;	# Anode A1
 NET "anode(2)"		LOC = "T10" | IOSTANDARD=LVCMOS33;	# Anode A2
 NET "anode(1)"		LOC = "T9"  | IOSTANDARD=LVCMOS33;	# Anode A3
 NET "anode(0)"		LOC = "V9"  | IOSTANDARD=LVCMOS33;	# Anode A4
 
## 7 Segment Display
				
                
 NET "segments(7)"      LOC = "T11" | IOSTANDARD=LVCMOS33;                 #a
 NET "segments(6)"		LOC = "T14" | IOSTANDARD=LVCMOS33;	#a		   #########
 NET "segments(5)"		LOC = "V14" | IOSTANDARD=LVCMOS33;	#b	  f -> ##	  ## <- b
 NET "segments(4)"		LOC = "U13" | IOSTANDARD=LVCMOS33;	#c		   ##	  ##
 NET "segments(3)"		LOC = "V13" | IOSTANDARD=LVCMOS33;	#d 		   ######### <- g
 NET "segments(2)"		LOC = "U11" | IOSTANDARD=LVCMOS33;	#e	  e -> ##	  ##
 NET "segments(1)"		LOC = "V11" | IOSTANDARD=LVCMOS33;	#f		   ##	  ## <- c
 NET "segments(0)"		LOC = "R11" | IOSTANDARD=LVCMOS33;	#g		   #########
																			#d
																			
##############################################################################
##############################################################################
###
###  END of ucf file
###
###---------------------------------------------------------------------------